.div_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.icon_image {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.div_image {
    margin: 10px;
}

