.div {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.div_identifier {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: white;
    border-radius: 15px;

}
.label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.input {
    margin-bottom: 15px;
}

.button {
    margin-top: 5px ;
}

.no_compte {
    margin-top: 15px;
    text-align: end;
    font-size: 13px;
}